body {
    /* background: #e9ecef; */
    font-family: Montserrat, "sans-serif";
    color: #303030;
    margin-left: 100px;
    background-image: url(../images/pp3.webp);
}

img:hover {
    width:100%;
    /* -webkit-transform et transform : c’est la fameuse propriété « transform » qui 
    définit le type d’animation à réaliser. On l’écrit de deux manières différentes
    (avec et sans « webkit ») pour maximiser la compatibilité avec différents 
    navigateurs, aussi bien sur Mac que sur PC. Ici, l’effet choisi est une modification 
    de l’échelle de l’image (« scale » = échelle). Autrement dit, un effet de zoom. 
    On multiplie par 1.3 la taille de l’image (on aurait pu choisir autre chose). */
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    /* margin-left: 200px; */

    /* -webkit-transition et transition : c’est la propriété qui détermine la « fluidité » 
    de l’effet de zoom. Ici, on utilise « ease-in-out », un type de transition qui est 
    lent au début, lent à la fin pour une fluidité maximale… et on opte pour un effet 
    de 0.5 seconde. On aurait pu choisir un autre type de transition, comme « ease-out » 
    (rapide au début, lent à la fin), « linear » (vitesse constante) ou « ease-in »
     (lent au début, rapide à la fin). */
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out
}

h1 {
    text-align:center;
    background: white;
    width: 800px;
    margin-left: 20px;
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline;
    padding-bottom: 20px;
}

.formulaire_recherche {
    width: 1000px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: #b2f2bb;
    margin-left: 20px;
}

.formulaire_recherche > h2 {
    align-items: center;
    font-weight: 900;
    text-decoration : underline;
}

.class_input {
    display: flex;
}

.class_label {
    display: flex;
}

input, select {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500; 
}

label {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700; 
}

form button {
    width: 450px;
    max-width: 500px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #303030;
    margin: 20px;
}

.affichage_resultat {
    width: 1000px;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: #b2f2bb;
    margin-left: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
}

.affichage_resultat > h2 {
    align-items: center;
    font-weight: 900;
    text-decoration : underline;
}

.affichage_resultat > table {
    border-collapse: collapse; 
    background-color: darksalmon;
    margin-left: 10px;
    margin-top:40px;
}

.affichage_resultat  tbody {
    background-color: #e4f0f5;	
}

.affichage_resultat  caption {
    font-size: 20px;
    
}
.affichage_resultat  td, th {
    border: 1px solid black;	
    font-size: 18px;
}

.affichage_resultat tr:nth-child(even)  {
    background-color: rgb(250, 250, 250);
}

.affichage_resultat tr:nth-child(odd)  {
    background-color: rgb(240, 240, 240);
}


#container{
    display:block;
    background-color: rgb(142, 125, 243);
    width: 15vw;
    height: 430px;
    margin-left: 10px;
    justify-content: space-evenly; 
    background-color: rgb(142, 125, 243);
}

#char_pos{
    display:flex;
    /* background-image: url(../images/pp3.webp); */
    width: 15vw;
    height: auto;
    text-align: left;
    align-items: left;
    background-color: rgb(142, 125, 243);
}

#dep_char{
    background-color: rgb(142, 125, 243);
    width: 30vw;
    height: auto;
    border: 1px solid black;
    text-align:left;
    border: none;
}

#dep_char > p {
    width: 15vw;
    font-size: 30px;
    font-weight: 200;
    padding: 30px;
    margin-left: 10px;
    background-color: rgb(142, 125, 243);
    color: white;  
    z-index: 50; 
}

#dep_pos{
    background-color: rgb(142, 125, 243);
    width: 10vw;
    height: auto;
    text-align: left;
    align-items: left;
} 

#dep_pos img{
    background-color: rgb(142, 125, 243);
    /* width: 10vw; */
    width: 250px;
    height: auto;
    text-align: left;
    align-items: left;
    /* margin-left: 230px; */
    margin-top: 21px;
    padding-top: 100px;
    padding-right: 20px;
    z-index: 100;
} 

 #loupe{
    display:flex; 
    width: 15px;
    height: auto;
    text-align: left;
    align-items: left;
} 

#loupe img{
    width: 540px;
    margin-right: 10px;
    margin-top: 50px;
}

#carte_dep{
    width: 35vw;
    height: auto;
    text-align: left;
    align-items: left;
}

#carte_aglo{
    width: 15vw;
    height: auto;
    text-align: left;
    align-items: left;
}

/* #carte_reg{
    display: none;
    width: 15vw;
    height: auto;
    text-align: left;
    align-items: left;
}  */

#span_nom {
    font-size: 23px;
    padding-top: 3px;
    padding-bottom: 10px;
    text-decoration: underline;
}


