		
		.formulaire_recherche {
			width: 1000px;
			border: 1px solid;
			border-radius: 8px;
			padding: 0 50px 0 50px;
			background: #b2f2bb;
			margin-left: 100px;
		}

		.formulaire_recherche > h2 {
			text-decoration : underline;
		}

		.class_input {
			display: flex;
		}

		.class_label {
			display: flex;
		}

		input, select {
			margin-right: 20px;
			margin-top: 10px;
			margin-bottom: 30px;
			/* font-family: Arial, Helvetica, sans-serif; */
			font-family: lato, "sans-serif";
			font-size: 20px;
			font-weight: 500; 
		}

		label {
			margin-right: 20px;
			margin-top: 10px;
			margin-bottom: 30px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700; 
		}

		form button {
			width: 450px;
			max-width: 500px;
			height: 60px;
			font-family: lato, "sans-serif";
			font-weight: 700;
			font-size: 28px;
			background: white;
			border: rgba(48, 48, 48, 0.5) solid 1px;
			border-radius: 5px;
			box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
			color: #303030;
			margin: 20px;
		}
		
		.affichage_resultat {
			width: 1000px;
			border: rgba(48, 48, 48, 0.5) solid 1px;
			border-radius: 8px;
			padding: 0 50px 0 50px;
			background: #b2f2bb;
			margin-left: 100px;
			margin-top: 40px;
			padding-bottom: 20px;
		}

		.affichage_resultat > h2 {
			align-items: center;
			font-weight: 900;
			text-decoration : underline;
		}
		
		.affichage_resultat > table {
			border-collapse: collapse; 
			background-color: darksalmon;
			margin-left: 10px;
			margin-top:40px;
		}
		
		.affichage_resultat  tbody {
			background-color: #e4f0f5;	
		}

		.affichage_resultat  caption {
			font-size: 20px;
			
		}
		.affichage_resultat  td, th {
			border: 1px solid black;	
			font-size: 18px;
		}

		.affichage_resultat tr:nth-child(even)  {
			background-color: rgb(250, 250, 250);
		}

		.affichage_resultat tr:nth-child(odd)  {
			background-color: rgb(240, 240, 240);
		}
 
