		@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
		
		::before, ::after {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}
		
		body {
			/* background-image: radial-gradient(circle at center center, rgba(217, 217, 217,0.05) 0%, rgba(217, 217, 217,0.05) 15%,rgba(197, 197, 197,0.05) 15%, rgba(197, 197, 197,0.05) 34%,rgba(178, 178, 178,0.05) 34%, rgba(178, 178, 178,0.05) 51%,rgba(237, 237, 237,0.05) 51%, rgba(237, 237, 237,0.05) 75%,rgba(138, 138, 138,0.05) 75%, rgba(138, 138, 138,0.05) 89%,rgba(158, 158, 158,0.05) 89%, rgba(158, 158, 158,0.05) 100%),radial-gradient(circle at center center, rgb(255,255,255) 0%, rgb(255,255,255) 6%,rgb(255,255,255) 6%, rgb(255,255,255) 12%,rgb(255,255,255) 12%, rgb(255,255,255) 31%,rgb(255,255,255) 31%, rgb(255,255,255) 92%,rgb(255,255,255) 92%, rgb(255,255,255) 97%,rgb(255,255,255) 97%, rgb(255,255,255) 100%); background-size: 42px 42px; */
			font-family: lato, "sans-serif";
			color: #303030;
			margin-left: 100px;
			background-image: url(../images/pp3.webp);
		}

		h1 {
			text-align:center;
			background: #b2f2bb;
			color: black;
			width: 10%;
			margin-left: 10px;
			font-size: 42px;
			font-weight: 500;
			/* margin-top: 80px; */
			margin-bottom: 40px;
			padding-bottom: 20px;
			padding-top: 20px;
			border: 1px solid;
			border-radius: 48px;
		}

		h2{
			font-family: lato, "sans-serif";
			font-size: 28px;
			font-weight: 600;
		}

		button{
			width: 200px;
			height: 50px;
			margin: 20px;
			background-color:bisque;
			color:black;
			font-weight: 700;
			border-radius: 20px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
		  }