@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217,0.05) 0%, rgba(217, 217, 217,0.05) 15%,rgba(197, 197, 197,0.05) 15%, rgba(197, 197, 197,0.05) 34%,rgba(178, 178, 178,0.05) 34%, rgba(178, 178, 178,0.05) 51%,rgba(237, 237, 237,0.05) 51%, rgba(237, 237, 237,0.05) 75%,rgba(138, 138, 138,0.05) 75%, rgba(138, 138, 138,0.05) 89%,rgba(158, 158, 158,0.05) 89%, rgba(158, 158, 158,0.05) 100%),radial-gradient(circle at center center, rgb(255,255,255) 0%, rgb(255,255,255) 6%,rgb(255,255,255) 6%, rgb(255,255,255) 12%,rgb(255,255,255) 12%, rgb(255,255,255) 31%,rgb(255,255,255) 31%, rgb(255,255,255) 92%,rgb(255,255,255) 92%, rgb(255,255,255) 97%,rgb(255,255,255) 97%, rgb(255,255,255) 100%); background-size: 42px 42px;
    height: 100vh;
    /* overflow-x: hidden; */
}

h1 {
    font-family:'Lato', Arial, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 2vh;
    font-size: 4vw;
    color: #333;
    font-weight: 400;
}

#container {
    width: 90vw;
    margin: auto;
    /* display: flex; */
    /* border: 1px solid black; */

}

#img_carte > img {
    /* border: 1px solid black; */
    width: 1100px;
    z-index: 10;
    /* retirer du flux et se positionne par rapport au parent (contener) */
    position: absolute;
    left: 550px;
    
}

#kyushu {
    position:relative;
    background-color: rgb(202, 235, 209);
    width: 300px;
    left:490px;
    top: 570px;
    z-index: 15;
    border: 1px solid black;
    padding-left: 10px;
}

#hokkaido {
    position:relative;
    background-color: rgb(202, 235, 209);
    width: 300px;
    left:1240px;
    top: -190px;
    z-index: 15;
    border: 1px solid black;
    padding-left: 10px;
}

#honshu {
    position:relative;
    background-color: rgb(202, 235, 209);
    width: 300px;
    left:490px;
    top: -435px;
    z-index: 15;
    border: 1px solid black;
    padding-left: 10px;
}

#shikoku {
    position:relative;
    background-color: rgb(202, 235, 209);
    width: 300px;
    left:1240px;
    top: -350px;
    z-index: 15;
    border: 1px solid black;
    padding-left: 10px;
}