* { 
    margin:0; 
    padding:0; 
    text-decoration:none; 
    box-sizing: border-box;
}

/* l'entête au dessus du menu navigation */
.header-side {
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-right: 2px solid #e3e8f0; /* bordure à droite en blanc */
    border-bottom: 2px solid ;         /* bordure en bas du header en noir par def */
    background-color: #fdfdff;
  }

.header-logo {
    /* un conteneur en display: flex contrôle la façon dont ses enfants vont se comporter (position, 
      alignement, largeur…) */
    display: flex; /* alignement de gauche à droite  */
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
 
#menunav { 
    margin-top:20px; 
    margin-left: 20px;
    /* fixed L'élément est retiré du flux normal et aucun espace n'est laissé pour l'élément. L'élément 
    est positionné relativement au bloc englobant initial formé par la zone d'affichage (viewport) */
    position: fixed;
    /* width: 200px; */
    /* display: inline-block; */
    height: auto; /* prend la hauteur du menu pour le fond*/
    /* border-right: 1px solid #e3e8f0; */
    background-color:burlywood;
}
 
#menunav ul { 
    list-style-type:none;  /* suppression des puces sur les listes */
    display: flex;
}

#menuGeographie ul {
    display: flex;
    flex-direction:column ;
}
#menuLangue ul {
    display:flex;
    flex-direction: column;
}

#menuLangue > ul > li {
    display: flex;
    flex-direction:column ;
}
#menuPhoto ul {
    display:flex;
    flex-direction: column;
}
menuCulture ul {
    display:flex;
    flex-direction: column;
}
#menuN1 #menuGeographie  #Geo {
    display: flex;
    flex-direction:column ;
}
.buttonN1 {
	width:200px;
	background-color:#5a9216;
	color:black;
	border-width: 1px;
	border-color: white;
	padding-bottom:10px;
	text-align: left;
	font-weight: 500;
    height: auto;
}

.buttonN2 {
	width:180px;
	background-color:#9fa8da;
	color:black;
	border-width: 1px;
	border-color: white;
	padding-bottom:10px;
	text-align: left;
	font-weight: 500;
	margin-left: -20px;	
}

.buttonN3 {
	width:130px;
	background-color:#d0d8ff;
	color:black;
	border-width: 1px;
	border-color: white;
	padding-bottom:10px;
	text-align: left;
	font-weight: 500;
	margin-left: 10px;	
    padding-left: 10px;
}

.buttonN4 {
	width:200px;
	background-color:#9fa8da;
	color:black;
	border-width: 1px;
	border-color: white;
	padding-bottom:10px;
	text-align: left;
	font-weight: 500;
	margin-left: -20px;	
}



img {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

.linkN2 >  img {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.seeMenu {
    display: block;
    margin-left: 20px;
}

.hideMenu {
    display: none;
}