/* Définir la structure de base du container */
#container {
  position: relative; /* Nécessaire pour positionner les éléments à l'intérieur */
  width: 100%;
  height: 100%;
};

/* Menu déroulant (objet) */
  #menu {
  position:relative; /* Position absolue pour que le menu soit en dehors du flux normal */
  margin-top: 0;
  left: 0;
  width: 100%;
  height: 205px; /* Hauteur initiale du menu */
  z-index: 10; /* Le menu doit avoir un z-index plus élevé que le contenu principal */
  background-color: #fff; /* Couleur de fond du menu */
  overflow: hidden; /* Empêche le débordement du menu avant l'animation */
   /* transition: height 0.5s ease; Animation de la hauteur sur 0.5 seconde */
 };

/* Contenu principal (objet) */
 #contenu { 
  position:relative; /* Pour gérer correctement les éléments à l'intérieur du conteneur */
  z-index: 5; /* Le contenu doit être derrière le menu */
  width: 100%;
 padding-top: 205px; /* Décalage initial pour le contenu (correspond à la hauteur du menu initial) 
  /* transition: padding-top 0.5s ease-out; */
};