<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AffichageRechercheVocab</title>
	<link rel="stylesheet" href="/affichageRechercheVocab.css">
</head>

<body>
	<section>   
		
        <div class="affichage_resultat">  
			
			<h2>Dictionnaire Japonais/Francais </h2>
			<table>
				<caption>Resultat de la recherche </caption>	
				<tr>
					<th>Kana</th>
					<th>Kanji</th>
					<th>Français</th>
				</tr>

				<!-- Boucle pour lire le tableau -->
				<% for(i=0; i<result.length; i++) { %>
						 <td width=20% align=center ><%= result[i].kana %></td>
						 <td width=25% align=center ><%= result[i].kanji %></td>
						 <td><%= result[i].francais %></td> 
					  </tr>  
				<% } %>
			</table> 
		</div>
	</section>
</body>
</html>