<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>affPhoto</title>
    <link rel="stylesheet" href="/affPhoto.css">
</head>
<body>
    <h1>Photos Tokyo</h1>

    <% for(i=0; i<files.length; i++) { %>
        <p><%-files[i]%></p>
        <p>"/public/images/"<%-files[i]%></p>
        <img src="..\images\<%= files[i] %>" alt="tokyo" />
    <% } %> 
</body>
</html>