<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RechercheDepartement</title>
	<link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/recherche.css">
	<link rel="stylesheet" href="/departement.css">
    
    
    <!-- <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"> -->
    <!-- <style <%- include('../css/recherche.css') %> </style>  -->
	<script type="text/javascript" src="../js/fonction.js"></script>

</head>
<body onload="fonctStorageInputDep(), fonctStorageSetDep('<%= result %>');">
   
       
        <h1>Les départements français</h1>

        <div id="container">

           

                <div id="container1">
        
                    <div id="char_pos">
                        <div id="dep_char">
                        
                    
                        </div>
                        <div id="dep_pos">
                        
                    
                        </div>
                    
                    </div>
                    <!-- <div id="loupe"></div> -->
                        <div id="carte_dep">
                            
                        </div>
                    
                </div>
        
                <div id="container2">
        
                    <div id="aglo_dep">
                    
                    </div>
        
                    <div id="carte_reg">
                        
                    </div>
                </div> 
           
            
        </div>
        <script>
            
                var dep_num      =    localStorage.getItem('Dep_numero');
                var dep_nom      =    localStorage.getItem('Dep_nom');
                var dep_reg      =    localStorage.getItem('Dep_region');
                var dep_sup      =    localStorage.getItem('Dep_superficie');
                var dep_pop      =    localStorage.getItem('Dep_pop');
                var dep_dens     =    localStorage.getItem('Dep_densite');
                var dep_pref     =    localStorage.getItem('Dep_prefecture');
                var dep_prefpop  =    localStorage.getItem('Dep_prefecturepop');		
                var dep_souspref =    localStorage.getItem('Dep_sousprefecture');
                dep_nom = dep_nom.toLowerCase();

                // var contenu = document.querySelector('caption').innerText;
                // document.querySelector('caption').textContent = (contenu + " de " + inputNiveau);
                 console.log(dep_num);
                 console.log(dep_nom); 
                 console.log("<img src='/dep_carte/" + dep_num + "-" + dep_nom + ".jpg' width='550' height=auto>");
                 console.log("<img src='/dep_aglomeration/" + dep_num + "-" + dep_nom + ".jpg' width='350' height=auto>");
                 console.log("<img src='/dep_pos/" + dep_num + "-" + dep_nom + ".png' width='550' height=auto>");
                 console.log("<img src='/dep_region/" + dep_reg + ".png' width='300' height=auto>");
    
               var dep_img1 = document.getElementById('dep_pos');
               dep_img1.innerHTML = "<img src='/dep_pos/" + dep_num + "-" + dep_nom + ".png' width='200' height=auto>";
               console.log('/dep_pos/" + dep_num + "-" + dep_nom + ".png' );
    
               var dep_img2 = document.getElementById('carte_dep');
               dep_img2.innerHTML = "<img src='/dep_carte/" + dep_num + "-" + dep_nom + ".jpg' width='550' height=auto>";
    
               var dep_img3 = document.getElementById('aglo_dep');
               dep_img3.innerHTML = "<img src='/dep_aglomeration/" + dep_num + "-" + dep_nom + ".jpg' width='550' height=auto>";
    
               var dep_img4 = document.getElementById('carte_reg');
               dep_img4.innerHTML = "<img src='/dep_region/" + dep_reg + ".png' width='550' height=auto>";

               dep_nom1 = dep_nom.toUpperCase();
               var dep_img1 = document.getElementById('dep_char');
               dep_img1.innerHTML = "<p> Département: " + "<span id=span_nom >" + dep_nom1 + "</span>" +"<br> "
                                  +  "Numéro     : " + dep_num + "<br>"
                                  +  "Région     : " + dep_reg + "<br>"
                                  +  "Superficie : "  + dep_sup + "km²<br>"
                                  +  "Population : " + dep_pop + "<br>"
                                  +  "Densité     : " + dep_dens + "(habitants/km2)<br>"
                                  +  "Préfecture       : " + dep_pref + "<br>"
                                  +  "Population Pref  : " + dep_prefpop + "<br>"
                                  +  "Sous-Préfecture  : " + dep_souspref + "</p>"; 
                                  
                              


        </script>
        
</body>
</html> 