<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Funigo. Tous droits réservés.</p>
            <p>Contact: info@funigo.com</p>
        </div>
    </footer>
</body>
</html>