<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RechercheLieu</title>
    <link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/recherche.css">
</head>
<body onload="inputSelect()">
    <h1>Formulaire de recherche</h1>

    <section>
	<div class="formulaire_recherche">
		
	    <h2></h2>

			<form action="/API/rechercheLieu" method="post">

			<div class="class_Label">

				<label for="Ile">Iles</label>
                <label for="Region">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;Region</label>
				<label for="Departement">&emsp;&emsp;&emsp;&emsp;&nbsp;Departement</label>
				<label for="Ville">&emsp;&emsp;&emsp;Ville</label>
				<label for="Quartier">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Quartier</label>
				
			</div>

			<div class="class_input">
				<select name="nom_ile" id="nom_ile_id">
					<option value="" > </option>
				</select>

				<select name="nom_reg" id="nom_reg_id" >
					<option value="" > </option>
				</select>
				
				<select name="nom_dep" id="nom_dep_id" >
					<option value="" > </option>
				</select>

				<select name="nom_vil" id="nom_vil_id" >
					<option value="" > </option>
				</select>

                <select name="nom_qua" id="nom_qua_id" >
					<option value="" > </option>
				</select>

			</div>
			
			<div>
				<button type="submit", onclick="fonctStorageSetLieu()" >lancer la recherche</button>
			</div>
	
	    </form>
	</div>
	
	</section>
    <script>

		// Création des listes pour les selections du formulaire 
		function inputSelect(){

			const listIle = ["Hokkaido", "Honshu", "Shikoku", "Kyushu", "Okinawa"];
            const listReg = ["Hokkaido", "Tohoku", "Kanto", "Chubu", "Kansai", "Chugoku", "Shikoku", "Kyushu", "Okinawa"];
            const listDep = ["Aichi", "Akita", "Aomori", "Chiba", "Ehime", "Fukui", "Fukuoka", "Fukushima", "Gifu", "Gumma", "Hiroshima", "Hokkaido", "Hyogo", "Ibaraki", "Ishikawa", "Iwate", "Kagawa", "Kagoshima", "Kanagawa", "Kochi", "Kumamoto", "Kyoto", "Mie", "Miyagi", "Miyazaki", "Nagano", "Nagasaki", "Nara", "Niigata", "Oita", "Okayama", "Okinawa", "Osaka", "Saga", "Saitama", "Shiga", "Shimane", "Shizuoka", "Tochigi", "Tokushima", "Tokyo", "Tottori", "Toyama", "Wakayama", "Yamagata", "Yamaguchi", "Yamanashi"];
            const listVil = ["Tokyo", "Yokohama", "Osaka", "Nagoya", "Sapporo", "Kobe", "Kyoto", "Fukuoka", "Kawasaki", "Saitama", "Hiroshima", "Sendai", "Kitakyushu", "Chiba", "Kumamoto", "Okayama", "Sagamihara", "Hamamatsu", "Kagoshima", "Hachioji", "Shizuoka", "Niigata", "Yokosuka", "Nagasaki", "Koshigaya", "Koriyama", "Matsuyama", "Kurashiki", "Utsunomiya", "Kawagoe", "Hachinohe", "Toyama", "Matsudo", "Kanazawa", "Akita", "Ichikawa", "Fukui", "Kanazawa", "Okinawa", "Mito", "Himeji", "Gifu"];
            const listTokQ = ["Chiyoda", "Chuo", "Minato", "Shinjuku", "Bunkyo", "Toshima", "Nakano", "Sumida", "Koto", "Shinagawa", "Meguro", "Ota", "Setagaya", "Shibuya", "Arakawa", "Itabashi", "Nerima", "Kita", "Edogawa", "Adachi", "Katsushika", "Kita", "Taitō"];
            const listOsaQ = ["Kita", "Chuo", "Naniwa", "Nishi", "Tennoji", "Abeno", "Suminoe", "Yodogawa", "Tsurumi", "Suminoe", "Sakai", "Ikuno", "Nishinari", "Konohana", "Takaishi", "Hirano", "Higashinari", "Moriguchi", "Joto", "Fukushima", "Asahi", "Joto", "Higashiosaka"];
            const listDepHokk = ["hokkaido"];
            const listDepToho = ["Aomori", "Iwate", "Miyagi", "Akita", "Yamagata", "Fukushima"];
            const listDepKant = ["Ibaraki", "Tochigi", "Gunma", "Saitama", "Tokyo", "Kanagawa", "Chiba"];
            const listDepChub = ["Aichi", "Fukui", "Gifu", "Ishikawa", "Nagano", "Niigata", "Shizuoka", "Toyama", "Yamanashi"];
            const listDepKans = ["Hyogo", "Kyoto", "Mie", "Nara", "Osaka", "Shiga", "Wakayama"];
            const listDepChog = ["Hiroshima", "Okayama", "Tottori", "Shimane", "Yamaguchi"];
            const listDepShik = ["Ehime", "Kagawa", "Kochi", "Tokushima"];
            const listDepKush = ["Fukuoka", "Saga", "Nagasaki", "Kumamoto", "Oita", "Miyazaki", "Kagoshima", "Okinawa"];

			var select = document.getElementById("nom_ile_id"); 
			
			for(var i = 0; i < listIle.length; i++) {
    			var opt = listIle[i];
   				select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
			}
		
			var select = document.getElementById("nom_reg_id"); 
				
				for(var i = 0; i < listReg.length; i++) {
					var opt = listReg[i];
					select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
				}

				var select = document.getElementById("nom_dep_id"); 
				
				for(var i = 0; i < listDep.length; i++) {
					var opt = listDep[i];
					select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
				}

				var select = document.getElementById("nom_vil_id"); 
				
				for(var i = 0; i < listVil.length; i++) {
					var opt = listVil[i];
					select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
				}

                var select = document.getElementById("nom_qua_id"); 
				
				for(var i = 0; i < listTokQ.length; i++) {
					var opt = listTokQ[i];
					select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
				}
        
        }
    // Sockage dans le localStorage  
	function fonctStorageSetLieu()
	{
		var inputIle = document.getElementById("nom_ile_id");
		var inputReg = document.getElementById("nom_reg_id");
		var inputDep = document.getElementById("nom_dep_id");
		var inputVil = document.getElementById("nom_vil_id");
		var inputQua = document.getElementById("nom_qua_id");
	
	
		localStorage.setItem("Ile",inputIle.value);
		localStorage.setItem("Region",inputReg.value);
		localStorage.setItem("Departement",inputDep.value);
		localStorage.setItem("Ville",inputVil.value);
		localStorage.setItem("Quartier",inputQua.value);

	};

	</script>
</body>
</html>