<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RechercheKanji</title>
	<link rel="stylesheet" href="/rechercheKanji.css">
	<script type="text/javascript" src="/fonction.js"></script>
</head>

<body>

    <section>
	<div class="formulaire_recherche">
		
	    <h2>Recherche Kanji</h2>

			<form action="/API/rechercheKanji" method="post">

				<div id="classinput">
					<label for="kanjiindex">Index    </label>
					<input type="text" id="kanjiindex" name="kanjiindex" placeholder="" size="4">
				</div>

				<div id="classinput">			
					<label for="niveau">Niveau</label>
					<select name="Niveau" id="Niveau" size="5">
						<option selected value=""> </option>
						<option value="N5">N5</option>
						<option value="N4">N4</option>
						<option value="N3">N3</option>
						<option value="N2">N2</option>
						<option value="N1">N1</option>
					</select>
				</div>

				<div id="classinput">
					<label for="kanji">Kanji</label>
					<input type="text" id="kana" name="kanji" placeholder=""  size="4" >
				</div>

				<div id="classinput">
					<label for="onyomi">onyomi</label>
					<input type="text" id="onyomi" name="onyomi" placeholder=""  size="14" >
				</div>

				<div id="classinput">
					<label for="kunyomi">Kunyomi</label>
					<input type="text" id="kunyomi" name="kunyomi" placeholder=""  size="14">
				</div>

				<div id="classinput">
					<label for="traduction">Traduction</label>
					<input type="text" id="traduction" name="traduction" placeholder="" size="20" >
				</div>

				<div id="classinput">
					<input type="submit" name="bouton" value="Envoyer"/>
				</div>
	    	</form>
	</div>
	
	</section>
</body>
</html>