<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RechercheDepartement</title>
	<!-- <link rel="stylesheet" href="/css/rechercheDepartement.css"> -->
	<link rel="stylesheet" href="/css/recherche.css">
	<script type="text/javascript" src="/js/fonction.js"></script>
</head>

<body onload="fonctStorageInputDep()">

    <section>
		<div class="formulaire_recherche">

			<h1>Recherche de département</h1>

			<form action="/api/rechercheDepartement" method="post">
				
				<div id="classinput">
					<label for="num_dep">N°&emsp;&emsp;&emsp;&emsp;&emsp;</label>
					<select name="num_dep" id="num_dep_id"><option value="" > </option></select>
				</div>

				<div id="classinput">
					<label for="nom_dep">Département</label>
					<select name="nom_dep" id="nom_dep_id" ><option value="" > </option></select>
				</div>
					
				<div id="classinput">
					<label for="nom_reg">Région&emsp;&emsp;&emsp;</label>
					<select name="nom_reg" id="nom_reg_id" ><option value="" > </option></select>
				</div>

				<div id="classinput">
					<label for="nom_pref">Préfecture&emsp;&nbsp;&nbsp;</label>
					<select name="nom_pref" id="nom_pref_id" ><option value="" > </option></select>
				</div>
				<br><br>
				<div>
					<button type="submit" >lancer la recherche</button>
				</div>
				<br>
		
			</form>
		</div>
	</section>
	<script>
	function fonctStorageInputDep(){


    var num_dep = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20A","20B","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77","78","79","80","81","82","83","84","85","86","87","88","89","90","91","92","93","94","95","971","972","973","974","976"];
    var nom_dep = ["Ain","Aisne","Allier","Alpes-de-Haute-Provence","Hautes-Alpes","Alpes-Maritimes","Ardeche","Ardennes","Ariege","Aube","Aude","Aveyron","Bouches-du-Rhone","Calvados","Cantal","Charente","Charente-Maritime","Cher","Correze","Corse-du-Sud","Haute-Corse","Cote-d-Or","Cotes-d-Armor","Creuse","Dordogne","Doubs","Drome","Eure","Eure-et-Loir","Finistere","Gard","Haute-Garonne","Gers","Gironde","Herault","Ille-et-Vilaine","Indre","Indre-et-Loire","Isere","Jura","Landes","Loir-et-Cher","Loire","Haute-Loire","Loire-Atlantique","Loiret","Lot","Lot-et-Garonne","Lozere","Maine-et-Loire","Manche","Marne","Haute-Marne","Mayenne","Meurthe-et-Moselle","Meuse","Morbihan","Moselle","Nièvre","Nord","Oise","Orne","Pas-de-Calais","Puy-de-Dome","Pyrenees-Atlantiques","Hautes-Pyrenees","Pyrenees-Orientales","Bas-Rhin","Haut-Rhin","Rhone","Haute-Saone","Saone-et-Loire","Sarthe","Savoie","Haute-Savoie","Paris","Seine-Maritime","Seine-et-Marne","Yvelines","Deux-Sevres","Somme","Tarn","Tarn-et-Garonne","Var","Vaucluse","Vendee","Vienne","Haute-Vienne","Vosges","Yonne","Territoire de Belfort","Essonne","Hauts-de-Seine","Seine-St-Denis","Val-de-Marne","Val-D'Oise","Guadeloupe","Martinique","Guyane","La Reunion","Mayotte"];
    var nom_pref= ["Bourg-en-Bresse","Laon","Moulins","Digne","Gap","Nice","Privas","Charleville-Mézieres","Foix","Troyes","Carcassonne","Rodez","Marseille","Caen","Aurillac","Angouleme","La Rochelle","Bourges","Tulle","Ajaccio","Bastia","Dijon","Saint-Brieuc","Gueret","Perigueux","Besançon","Valence","Evreux","Chartres","Quimper","Nimes","Toulouse","Auch","Bordeaux","Montpellier","Rennes","Chateauroux","Tours","Grenoble","Lons-le-Saunier","Mont-de-Marsan","Blois","Saint-Etienne","Le Puy-en-Velay","Nantes","Orleans","Cahors","Agen","Mende","Angers","Saint-Lo","Chalons-en-Champagne","Chaumont","Laval","Nancy","Bar-le-Duc","Vannes","Metz","Nevers","Lille","Beauvais","Alencon","Arras","Clermont-Ferrand","Pau","Tarbes","Perpignan","Strasbourg","Colmar","Lyon","Vesoul","Macon","Le Mans","Chambéry","Annecy","Paris","Rouen","Melun","Versailles","Niort","Amiens","Albi","Montauban","Toulon","Avignon","La Roche-sur-Yon","Poitiers","Limoges","Epinal","Auxerre","Belfort","Évry","Nanterre","Bobigny","Creteil","Pontoise","Basse-Terre","Fort-de-France","Cayenne","Saint-Denis","Dzaoudzi"];
    var nom_reg = ["Auvergne-Rhone-Alpes","Hauts-de-France","Provence-Alpes-Cote d'Azur","Grand-Est","Occitanie","Normandie","Nouvelle-Aquitaine","Centre-Val-de-Loire","Corse","Bourgogne-Franche-Comte","Bretagne","Pays-de-la-Loire","Ile-de-France","Guadeloupe","Martinique","Guyane","La Reunion","Mayotte"];

    var select = document.getElementById("num_dep_id"); 

    for(var i = 0; i < num_dep.length; i++) {
        var opt = num_dep[i];
        select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
    }

    var select = document.getElementById("nom_dep_id"); 
        
        for(var i = 0; i < nom_dep.length; i++) {
            var opt = nom_dep[i];
            select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
        }

        var select = document.getElementById("nom_reg_id"); 
        
        for(var i = 0; i < nom_reg.length; i++) {
            var opt = nom_reg[i];
            select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
        }

        var select = document.getElementById("nom_pref_id"); 
        
        for(var i = 0; i < nom_pref.length; i++) {
            var opt = nom_pref[i];
            select.innerHTML += "<option value=\"" + opt + "\">" + opt + "</option>";
        }
    };	
	</script>
		
</body>
</html>